/* h1 + h2 + p + a + li {
    font-family: 'Josefin Sans', sans-serif;
} */

body {
    color: #121212;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.2em;
  }