
body {
  
  background-color: rgb(203, 237, 252);
  color: rgb(0, 54, 63);
  font-family:  "HelveticNeue-light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  line-height: 1.5;

}

section {
  margin-bottom: 3em;
}

p {
  text-align: justify;
  margin-block-start: 0%;
  margin-block-end: 0%;
}

main {
  
  margin: 20px auto;
  display: block;
  max-width: 600px;
}

/* .cat-wrapper {
  margin: 0em 1em;
} */

figure {
  margin-left: 0;
  margin-right:0;
}
.big-image{
  border-radius: 10px;
  width: 100%;
  align-content: center;



}

h1 {
  margin-block-end: 0.3em;
  margin-block-start: 0em;
  font-size: 2em;
}



h1, h2{
  margin-block-end: 0.3em;
  font-weight: 500;
  letter-spacing: 0.15em;
  color:rgb(96, 162, 190);
  text-shadow: 
              -1px 1px rgb(18, 100, 136),
              -2px 2px rgb(18, 100, 136);
              /* -3px 3px rgb(18, 100, 136),
              -4px 4px rgb(18, 100, 136), */
              /* -4px 2px rgb(114, 157, 175); */
}

figcaption {
  font-size: 0.7em
}

/* buttons */
a{
  text-decoration: none;
}

#links{
  margin-top:20px;
}

#project {
  margin: 10px auto;
  color:rgb(190, 150, 30);
  line-height: 1.5;

  border-radius: 10px;

  
  padding: 1em;
  align-content: center;
  background-color:rgb(255, 250, 235);
  display:block;
 
  width: 90%;
  
  box-shadow:
  1px -1px white,
              -1px 1px rgb(252, 220, 124),
              -2px 2px rgb(252, 220, 124),
              -3px 3px rgb(252, 220, 124),
              -4px 4px rgb(252, 220, 124),
             
              -10px 10px 5px rgb(175, 211, 226);

}

.project-image {
  box-shadow:
  -2px 2px 2px rgb(224, 216, 192),
  2px 2px 2px rgb(224, 216, 192),
  2px -2px 2px rgb(224, 216, 192),
  -2px -2px 2px rgb(224, 216, 192);
 
             
            
  
  border-radius: 5px;
  margin-top: 1em;
  width: 100%;
}

.project-image-transparent {

  border-radius: 5px;
  margin-top: 1em;
  width: 100%;
}

#project:hover{
  margin-left: 5px;
  border-width: 5px;
  border-color: rgb(252, 220, 124);

  
  box-shadow: none;
}

.project-header {
  color: rgb(151,166,133);
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 3px;
  text-shadow: 1px 1px white, -1px -1px rgb(252, 220, 124);
}

/* quick links */
.quick-link {
  align-content: left;
  color:rgb(96, 162, 190);
  text-shadow: 0px 1px white;

  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.quick-link:hover {
  color: rgb(0, 54, 63)
}

.quick-link:active {
  color: rgb(0, 54, 63);
}

.menu {
  float:right;
  
}

.box{
  height:1em;
  width:100%
}

/* overview */

.overview {
  font-size: 0.75em;
  display: flex;
}

.overview-subtitle {
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.column {
  width: 50%;
}

.subcategory-left {
  margin-top: 1em;
  margin-right: 1em;

}
.subcategory-right {
  margin-top: 1em;
  margin-left: 1em;
}

.summary {
  margin-top: 10px;
  margin-bottom: 2em;;
  color:rgb(190, 150, 30);
  line-height: 1.5;

  border-radius: 10px;

  
  padding: 1em;
  align-content: center;
  background-color:rgb(255, 250, 235);
  display:block;
 
  width: 95%;

}

.summary p {
  color: rgb(151,166,133);

  font-size: 1.1em;
  margin-top: 10px;
 
  text-shadow: 1px 1px white, -1px -1px rgb(252, 220, 124);

}

.contents{
  margin-top: 2em;
  
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contents p {
  margin-top: 0.5em;

  letter-spacing: 0.15em;
  color:rgb(18, 100, 136);
  text-shadow: 
              -1px 1px rgb(96, 162, 190);
}

.small-link {
  text-decoration: underline;
  color:rgb(0, 54, 63)
}