
body {
  /* position: fixed; */

  background-color: #cfebf6;
  color: #0b3682;
  font-family:  "HelveticNeue-light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.025em;
  line-height: 1.4;

}

footer{
  height: 4em;
}

ul, ol {
  padding-left: 1em;
}
section {
  margin-bottom: 3em;
}

p {
  text-align: justify;
  margin-block-start: 0%;
  margin-block-end: 0%;
}

main {
  
  margin: 20px auto;
  display: block;
  max-width: 600px;
 
}

/* .cat-wrapper {
  margin: 0em 1em;
} */

figure {
  margin-left: 0;
  margin-right:0;
}
img{
  border-radius: 10px;
  width: 100%;

}
.big-image{
  
  align-content: center;
  border: #0b3682 solid 2px;
  box-shadow:  -4px 4px #f7c2c6, 4px -4px #ffffff;

/* #4fcfa5 */

}

h1 {
  margin-block-end: 0.3em;
  margin-block-start: 0em;
  font-size: 2em;
}



h1, h2{
  margin-block-end: 0.3em;
  font-weight: 500;
  letter-spacing: 0.15em;
  color:#5294e0;
  text-shadow: 
              -1px 1px #0b3682,
              -2px 2px #0b3682;
              /* -3px 3px rgb(18, 100, 136),
              -4px 4px rgb(18, 100, 136), */
              /* -4px 2px rgb(114, 157, 175); */
}

figcaption {
  margin-top: 0.4em;
  font-size: 0.7em
}

/* buttons */
a{
  text-decoration: none;
}

#links{
  margin-top:20px;
}

#project {
  margin: 10px auto;
  color:#0b3682;
  line-height: 1.5;
  border-radius: 5px;
  padding: 1em;
  align-content: center;
  background-color:rgb(255, 255, 255);
  display:block;
  width: 90%;
  border: #0b3682 2px solid;
  /* box-shadow: -1px 1px  #0b3682, -2px 2px  #0b3682, -3px 3px  #0b3682, -4px 4px  #0b3682, 3px -3px #f7c2c6, -7px 5px #93b6c4; */

  box-shadow: -1px 1px  #0b3682, -2px 2px  #0b3682, -3px 3px  #0b3682, -4px 4px  #0b3682, -5px 5px  #0b3682, 3px -3px #f7c2c6, -9px 5px #93b6c4;
            

}

.project-image {
  /* box-shadow:
  -2px 2px 2px rgb(224, 216, 192),
  2px 2px 2px rgb(224, 216, 192),
  2px -2px 2px rgb(224, 216, 192),
  -2px -2px 2px rgb(224, 216, 192); */
 
             
            
  
  border-radius: 5px;
  margin-top: 1em;
  width: 100%;
}

#project:hover{
  position: relative;
  top: 4px;
  right: 4px;
  
  

  
  box-shadow: 2px -2px #93b6c4, -2px -2px #93b6c4, -2px 2px #93b6c4, 2px 2px #93b6c4;
}

.project-header {
  color: #5294e0;
  text-transform: uppercase;
  font-size: 1.1em;
  margin-bottom: 3px;
  text-shadow:  -1px 1px #0b3682, -2px 1px #0b3682;
  letter-spacing: 0.06em;
}

/* quick links/nav box */

.navbox {
  position: fixed;
  left: 2em;
  top: 1.5em;
  margin: 0px;
  padding: 1em;
  background-color: #f7c2c6;
  border:#0b3682 solid 2px;
  border-radius: 5px;
  box-shadow: -4px 4px  #5294e0, 4px -4px #ffffff;
}

@media only screen and (max-width: 1000px) {
  .navbox {
    display: none;
  }
}

.quick-link {
  text-transform: lowercase;

  color: #0b3682;

  /* color:#e6737c; */
  text-shadow: 0px 1px rgb(255, 255, 255);
}

.quick-link-div {
  margin: 0.5em;
}

.quick-link:hover {
  position: relative;
  bottom: 2px;
  left: 2px;
}

.quick-link:active {
  color:rgb(129, 102, 21);
}

/* overview */

.overview {
  font-size: 0.75em;
  display: flex;
}

.overview-subtitle {
  text-transform: uppercase;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.column {
  width: 50%;
}

.subcategory-left {
  margin-top: 1em;
  margin-right: 1em;

}
.subcategory-right {
  margin-top: 1em;
  margin-left: 1em;
}

/* summary */



.summary {
  margin-top: 1em;
  margin-bottom: 2em;;
  color:#0b3682;
  line-height: 1.5;
  border-radius: 10px;
  padding: 1em;

  background-color:rgb(255, 255, 255);
  display:block;
 
  width: 95%;
  
  border: #0b3682 2px solid;
  box-shadow: -4px 4px  #5294e0, 4px -4px #f7c2c6; 

}

.summary-header {
  color: #5294e0;
  font-size: 1.1em;
  margin-top: 0.5em;
  margin-bottom: 3px;
  text-shadow:  -1px 1px #0b3682, -2px 1px #0b3682;
  letter-spacing: 0.06em;

}

.contents{
  margin-top: 2em;
  
}

.contents p {
  margin-top: 0.5em;

  letter-spacing: 0.15em;
  color:rgb(18, 100, 136);
  text-shadow: 
              -1px 1px rgb(96, 162, 190);
}

.small-link {
  text-decoration: underline;
  color:rgb(0, 54, 63)
}

/* strawberry shortcake ingredients */
.words-and-circles {
  display:flex;
  align-items: flex-start;
}
.ingredients {
  margin-top: 1em;
  display:block;
  width: 15%;
  margin-left: 5%;
}

.cream {
  margin-bottom: 2.5em;
  margin-right: auto;
  margin-left: 0;
  background-color: #f7f6c2;
  /* border: #0b3682 2px solid; */
  height: 3em;
  width: 3em;
  border-radius: 1.8em;
  box-shadow: -1px 1px#ffffff, -2px 2px#a8a759, -3px 3px#a8a759, -4px 4px#a8a759, 1px 0px white, -7px 4px #93b6c4;
}

.strawberries {
  margin-bottom: 2.5em;
  margin-right: auto;
  margin-left: 0;
  background-color: #f8707b;
  /* border: #0b3682 2px solid; */
  height: 2em;
  width: 2em;
  border-radius: 1.2em;
  box-shadow: -1px 1px #f7c2c6, -2px 2px #b63c46, -3px 3px#b63c46, 1px 0px #f7c2c6, -6px 4px #93b6c4;

}

.flour {
  margin-bottom: 2.5em;
  margin-right: auto;
  margin-left: 0;
  background-color:#ffffff;
  /* border: #0b3682 2px solid; */
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.9em;
  box-shadow: -1px 1px #f7f6c2, -2px 2px #628492, -3px 3px#628492, 1px 0px #f7f6c2, -6px 4px #93b6c4;
}

.sugar {
  margin-bottom: 2.5em;
  margin-right: auto;
  margin-left: 0;
  background-color: #ffffff;
  /* border: #0b3682 2px solid; */
  height: 0.7em;
  width: 0.7em;
  border-radius: 0.8em;
  box-shadow: -0.5px 0.5px #f7f6c2, -1px 1px #628492, -1.5px 1.5px#628492, 0.5px 0px #f7f6c2, -3px 2px #93b6c4;

}

.vanilla {
  margin-right: auto;
  margin-left: 0;
  background-color:#a77b2a;
  /* border: #0b3682 2px solid; */
  height: 0.5em;
  width: 0.5em;
  border-radius: 0.5em;
  box-shadow: -0.5px 0.5px #f0c36f, -1px 1px #704f12, -1.5px 1.5px#704f12, 0.5px 0px #f0c36f, -3px 2px #93b6c4;

}

.shortcake-figure {
  margin-top: 0;
}




